{% comment %}
  Google Customer Reviews - Opt-in Survey + Badge
  Merchant Center ID: 5295165689 (bakabo.club)
  Docs: https://support.google.com/merchants/answer/7124008
{% endcomment %}

{%- if request.page_type == 'index' or request.page_type == 'product' or request.page_type == 'collection' -%}
  {%- comment -%} Badge widget - shown on all main pages {%- endcomment -%}
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <div class="g-reviewsoptinbutton" data-merchantid="5295165689"></div>
{%- endif -%}

{%- if request.page_type == 'order' or template == 'order' -%}
  {%- comment -%} Opt-in survey - fired on order confirmation page {%- endcomment -%}
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script>
    window['_googWcmImpl'] = window['_googWcmImpl'] || function() {
      (window['_googWcmQueue'] = window['_googWcmQueue'] || []).push(arguments)
    };
    window['_googWcmImpl']('setMerchantId', 5295165689);
    window['_googWcmImpl']('setSurveyLanguage', 'it');
    window['_googWcmImpl']('setOrderId', '{{ order.name }}');
    window['_googWcmImpl']('setOptInStatus', 'OPT_IN');
    {%- if customer and customer.email != blank -%}
    window['_googWcmImpl']('setCustomerEmail', {{ customer.email | json }});
    {%- endif -%}
    {%- assign delivery_days = 7 -%}
    {%- assign estimated_date = 'now' | date: '%s' | plus: 604800 | date: '%Y-%m-%d' -%}
    window['_googWcmImpl']('setEstimatedDeliveryDate', '{{ estimated_date }}');
    {%- for line_item in order.line_items -%}
    window['_googWcmImpl']('addProduct', {
      'gtin': {{ line_item.sku | json }},
      'brand': {{ line_item.vendor | json }},
      'name': {{ line_item.title | json }}
    });
    {%- endfor -%}
    window['_googWcmImpl']('renderOptInWizard');
  </script>
{%- endif -%}
